body {
	position: relative;
	background-color: #fff;
	font-family: "Nanum Gothic", sans-serif;
	max-width: 740px;
	margin: 0 auto;
}

button {
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

.hide {
	display: none !important;
}

.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.fll {
	float: left !important;
}

.flr {
	float: right !important;
}
