$color-white: #fff;
$color-black: #444;

$border-color-lighter: #eee;
$border-color-light: #ddd;
$border-color-dark: #ccc;

$body-background-color: #f9f9f9;
$body-font-color: #283e55;

$footer-background-color: #334e69;
