@import "../styles/utils.scss";
@import "~open-color/open-color";

footer {
  padding: 1em;
  text-align: right;
  border-top: 1px solid $border-color-lighter;
  // background-color: $footer-background-color;
  // color: $color-white;
}
